/** === Custom Styles === **/
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #F3F3F2;
}

/** === Custom Style Nav === **/
.custom-nav{
	background: linear-gradient(left, #f93d67, #7047d7);
	background: -webkit-linear-gradient(left, #f93d67, #7047d7);
	background: -moz-linear-gradient(left, #f93d67, #7047d7);
	background: -ms-linear-gradient(left, #f93d67, #7047d7);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.custom-nav ul li a{
	color: #fff!important;
}
.navbar-brand{
	color: #fff!important;
}
.content{
	margin-top: 50px;
}

/** === Signup Design ===**/
.card{
	border:	0px;
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-ms-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}
.card-header{
	background-color: #fff;
	color: #7047d7;
	margin-top: 10px;
	margin-bottom: 10px;
}
.form-heading{
	font-weight: 900;
	letter-spacing: 2px;
}
.form-control{
	border-color: #7047d7;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.form-control:hover{
	cursor: pointer;
}
.form-control:focus{
	box-shadow: none;
	-webkit-box-shadow: none;
}
.form-btn{
	background-color: #7047d7;
	border: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}
.form-btn:hover{
	background-color: #7047d7;
}
.form-btn:focus{
	background-color: #7047d7!important;
}
.card::before{
	position: absolute;
	content: "";
	width: 100%;
	height: 250px;
	top: 5px;
	border:	0px;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	transform: rotate(-10deg);
	background-color: #7047d7;
	z-index: -1;
}

/** === Login Form Design === **/
.login-cover{
	display: none;
}
.fa-pencil-square-o, .fa-lock{
	animation: icon-animate 3s infinite;
	-webkit-animation: icon-animate 3s infinite;
	-o-animation: icon-animate 3s infinite;
}
@keyframes icon-animate{
	100%{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
	}
}
.border-red{
	border-color: red;
	color: red!important;
}
.border-green{
	border-color: green;
	color: green!important;
}
.error{
	color: red;
}
.fa-spinner{
	font-size: 14px;
	color: #7047d7;
}